/*  font import*/
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
/*  icons */
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Allerta Stencil', sans-serif;
}
.allerta-stencil-regular {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ion-input.custom {
  
  --color: #FBA834;
  border-radius: 10px;
  border: 3px solid #FBA834;
  width: 95%;
  height: 30px;
  margin:7px;
  background: rgba(2, 12, 65, 0.6);
}


 .container {
  display: flex;
 }

.buttonLeft {
  display: flex;
  flex: 1;
  border-radius: 10px;
  flex-direction: column ;
  border: 2px solid #50C4ED;
  padding: 5px;
  margin: 5px;
  float: left;
  height: min-content;
  width: 80%;
  max-height: fit-content;
  color: white;
  background: rgba(53, 123, 253, 0.9);
  position: relative;
  
  
}

.buttonRight {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  float: center;
  height: min-content;
  width: 15%;
  max-height: fit-content;
  align-items: center;
  color: white;
  background-color: #FBA834;
  position: relative;

  
}


.header {

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  float: center;
  height: min-content;
  width: 95%;
  max-height: fit-content;
  align-items: center;
  color: white;
  background-color: #130553;
  position: relative;

  

}



.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  padding: 7px;
  margin: 10px;
  top: 05%;;
  width: 95%;
  background: rgba(0, 0, 0, 0.1);

  
}






.wrapper {
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    justify-content: space-between;
    text-align: center;
  
    height: 170px;
    width: 400px;
  
    margin: 0 auto;
  }
  
  b {
    width: 100%;
  }
  
  .ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
    overflow: hidden;
  
    border: 1px solid #ddd;
  
    user-select: none;
  
    width: 100%;
    height: 50px;
    border-radius: 8px;
  }
  
  .custom-parent {
    color: #de1e7e;
  }
  
  .custom-ripple {
    color: #501ace;
  }