/*  font import*/
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
/*  icons */
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,body {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*profile*/
.profile-content {
  display: flex;
  flex-direction: column;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%; 
  overflow: hidden; 
  margin-bottom: 10px; 
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.profile-name {
  font-size: 20px; 
  text-align: center;
}

.profile-subtitle {
  font-size: 16px; 
  text-align: center;
}

.text-custom-blue {
  color: #323977;
  background-color: #FAFAFA;
}

.azulinho {
  color: #323977;
}

.text-custom-yellow {
  color: #323977;
  background-color: #FAFAFA;
}

.text-custom-yellow:hover{
  color: #E0AD50;
}

.navbar {
  background-color: #323977; 
  padding: 10px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
.map-container {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 0; /* Adjust this value as needed */
}

.map-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.overflow-y-auto {
  margin-top: 20px; /* Adjust this value as needed */
}
.paypal-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.paypal-form-title {
  text-align: center;
  color: #003087; 
}

.paypal-form-group {
  margin-bottom: 20px;
}

.paypal-form-group label {
  display: block;
  margin-bottom: 5px;
  color: #003087; 
}

.paypal-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.paypal-form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #003087; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paypal-form-button:hover {
  background-color: #001f5b; 
}


.logo {
  width: 70px;
  height: 70px;
}

.navbar-icon {
  width: 70px;
  height: 70px;
}

.buying-pass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.buying-pass-content {
  max-width: 600px;
  width: 100%;
  text-align: left;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='submit'] {
  background-color: #323977;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.zone-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.zone-button {
  background-color: #fff;
  color: #323977;
  border: 1px solid #323977;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.zone-button.selected {
  background-color: #323977;
  color: #fff;
}

.price-info {
  font-size: 18px;
  margin-top: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.seconds-left {
  font-size: 16px;
  color: #777;
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    justify-content: space-between;
    text-align: center;
  
    height: 170px;
    width: 400px;
  
    margin: 0 auto;
  }
  
  b {
    width: 100%;
  }
  
  .ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
    overflow: hidden;
  
    border: 1px solid #ddd;
  
    user-select: none;
  
    width: 100%;
    height: 50px;
    border-radius: 8px;
  }
  
  .custom-parent {
    color: #de1e7e;
  }
  
  .custom-ripple {
    color: #501ace;
  }


  .stacked-slider {
    position: relative;
    height: 500px; /* Adjust based on your card height and the number of cards */
    width: 100%;
  }
  
  .pass-card {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid white;
    left: 50%;
    top: 50%;
    width: 100%; /* Adjust based on your preference */
    transition: transform 0.3s ease, z-index 0s linear 0.3s; /* Smooth transition for the transform */
  }
  
  .pass-card.active {
    transform: translate(-50%, -50%) scale(1.05); /* Slightly scale up the active card */
    z-index: 100; /* Bring the active card to the front */
    transition: transform 0.3s ease, z-index 0s linear; /* Transition for the active card */
  }
  

  
ion-input.custom {
  
  --color: #FBA834;
  border-radius: 10px;
  border: 3px solid #FBA834;
  width: 95%;
  height: 30px;
  margin:7px;
  background: rgba(2, 12, 65, 0.6);
}


ion-datetime-button::part(native) {
  color: #FBA834;
  border-radius: 10px;
  border: 3px solid #FBA834;
  margin:7px;
  margin-left: 1px;
  background: rgba(2, 12, 65, 0.6);
}


 .container {
  display: flex;
 }

.buttonLeft {
  display: flex;
  flex: 1;
  border-radius: 10px;
  flex-direction: column ;
  border: 2px solid #50C4ED;
  padding: 5px;
  margin: 5px;
  float: left;
  height: min-content;
  width: 80%;
  max-height: fit-content;
  color: white;
  background: rgba(53, 123, 253, 0.9);
  position: relative;
  
  
}

.buttonRight {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  float: center;
  height: min-content;
  width: 15%;
  max-height: fit-content;
  align-items: center;
  color: white;
  background-color: #FBA834;
  position: relative;

  
}


.header {

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  float: center;
  height: min-content;
  width: 95%;
  max-height: fit-content;
  align-items: center;
  color: white;
  background-color: #130553;
  position: relative;

  

}



.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  padding: 7px;
  margin: 10px;
  top: 05%;;
  width: 95%;
  background: rgba(0, 0, 0, 0.2);

  
}



.wrapper {
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    justify-content: space-between;
    text-align: center;
  
    height: 170px;
    width: 400px;
  
    margin: 0 auto;
  }
  
  b {
    width: 100%;
  }
  
  .ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
    overflow: hidden;
  
    border: 1px solid #ddd;
  
    user-select: none;
  
    width: 100%;
    height: 50px;
    border-radius: 8px;
  }
  
  .custom-parent {
    color: #de1e7e;
  }
  
  .custom-ripple {
    color: #501ace;
  }


  .stacked-slider {
    position: relative;
    height: 500px; /* Adjust based on your card height and the number of cards */
    width: 100%;
  }
  
  .pass-card {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid white;
    left: 50%;
    top: 50%;
    width: 100%; /* Adjust based on your preference */
    transition: transform 0.3s ease, z-index 0s linear 0.3s; /* Smooth transition for the transform */
  }
  
  .pass-card.active {
    transform: translate(-50%, -50%) scale(1.05); /* Slightly scale up the active card */
    z-index: 100; /* Bring the active card to the front */
    transition: transform 0.3s ease, z-index 0s linear; /* Transition for the active card */
  }
  
.gradient-blue{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,212,255,0.29735644257703087) 100%)
}